* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: lightyellow;
}

span {
	width: 300px;
	height: 20px;
	border: 1px solid black;
	padding: 5px;
	background: white;
	margin-left: 10px;
}

.hide {
	visibility: hidden;
}

button {
	margin: 1px;
	width: 20px;
	cursor: pointer;
}

#numberButtons {
	background: lightblue;
	width: 95px;

}
.number[value='0'] {
	width: 45px;
}
.number[value='.'] {
	width: 19px;
}
#operationButtons {
	background: red;
	width: 50px;
	position: fixed;
	left: 100px;
	top: 30px;
	clear: both;
}
#clear {
	width: 150px;
}

#equals {
	clear: both;
}

hr {
	margin-bottom: 20px;
}

.input {
	width: 100px;
}
.active {
	background-color: yellow;
}