* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
}

h1 {
	color: white;
	font-family: cursive;
	text-transform: uppercase;    
	text-align: center;
}

h1:hover {
	text-shadow: 1px 1px 2px gray, 3px 3px 5px tomato;
	cursor: pointer;
	font-family: cursive;
	//font-size: 193%;
}

body {
	background: no-repeat linear-gradient(blue, lightblue, dodgerblue);
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

p {
	display: inline-block;
}

#numberButtons {
	height: 150px;
	background-color: dodgerblue;
	float: left;
}

#operationButtons {
	width: 75px;
	height: 100px;
	background-color: dodgerblue;
	float: left;
	margin-left: 28px;
}
#numberButtons, #operationButtons, #keypad {
	background: black;
}

button {
	background: silver;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 3px;
}
button[value='0'] {
	width: 70px;
}

#keypad {
	width: 250px;
	height: 250px;
	border: 7px outset lightgray;
}

#grid {
	float: left;
}
#grid button {
	background-color: orange;
}
#grid button:hover {
	background-color: darkorange;
}
button:hover {
	background-color: grey;
}

#clear, .input{
	width: 80px;
}

#output {
	font-size: 150%;
}

#backspace {
width: 70px;
}

.input {
	background-color: darkorange;
}

.input:hover {
	background-color: orange;
}

.highlight, .highlight:hover {
	color: black;
	background-color: yellow;
	font-family: arial;
	font-weight: bold;
	width: 85px;
}

footer {
	margin: 20px 0px;
	border: 5px tomato outset;
	border-radius: 5px;
	background: red;
}

.active {
	background-color: white;
	color: black;
	padding: 2px;
}

.hide {
	opacity: 0;
}

.fadeIn {
  position: static;
  animation-name: addition;
  animation-duration: 3s;
}

@keyframes addition {
  from { opacity: 0; 
    }
  to { opacity: 1;
    }
}