* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: lightyellow;
}

span {
	width: 300px;
	height: 20px;
	border: 1px solid black;
	padding: 5px;
	background: white;

}

.hide {
	visibility: hidden;
}

button {
	margin: 1px;
	width: 20px;
	cursor: pointer;
}

#numberButtons {
	background: lightblue;
	width: 95px;

}
.number[value='0'] {
	width: 46px;
}
.number[value='.'] {
	width: 20px;
}
#operationButtons {
	background: red;
	width: 50px;
	position: fixed;
	left: 100px;
	top: 30px;
	clear: both;
}

hr {
	margin-bottom: 20px;
}

.input {
	width: 100px;
}

.active {
	background-color: yellow;
}

.highlight {
	background-color: yellow;
}

.function {
	display: block;
	width: 90px;
	float: left;
	clear: both;
}

#grid {
	background: blue;
	width: 100px;
	height: 80px;
}