* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
}

html {
	background-color: blue;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

#numberButtons {
	width: 200px;
	height: 200px;
	background-color: black;
	float: left;
}

#operationButtons {
	width: 100px;
	height: 100px;
	background-color: gray;
	float: left;
}

button {
	background-color: darkgray;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 3px;
}
button[value='0'] {
	width: 70px;
}

#keypad {
	width: 300px;
	height: 300px;
	background-color: brown;
}
#grid {
	float: left;
}
#grid button {
	background-color: orange;
}
#grid button:hover {
	background-color: yellow;
}
button:hover {
	background-color: grey;
}

#clear, .input{
	width: 80px;
}

#output {
	font-size: 200%;
}
.highlight {
	background: yellow;
}

#backspace {
width: 65px;
}