* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-weight: bold;
}

html {
	background-color: dodgerblue;
}

/*
main {
	display: flex;
	justify-content: center;
	align-items: center;
}
*/

p {
	display: inline-block;
}

#numberButtons {
	//width: 200px;
	height: 150px;
	background-color: dodgerblue;
	float: left;
}

#operationButtons {
	width: 75px;
	height: 100px;
	background-color: dodgerblue;
	float: left;
	margin-left: 28px;
}
#numberButtons, #operationButtons, #keypad {
	background-color: black;
}

button {
	background-color: darkgray;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin: 3px;
}
button[value='0'] {
	width: 70px;
}

#keypad {
	width: 225px;
	height: 250px;
}

#grid {
	float: left;
}
#grid button {
	background-color: orange;
}
#grid button:hover {
	background-color: yellow;
}
button:hover {
	background-color: grey;
}

#clear, .input{
	width: 80px;
}


#output {
	font-size: 200%;
}
.highlight {
	background: yellow;
}

#backspace {
width: 70px;
}